<!-- @format -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Posts</title>

    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>Blog Posts</h1>

      <!-- Post add form -->
      <h2>Add Posts</h2>
      <form id="post-form">
        {% csrf_token %}
        <input type="text" id="title" placeholder="Header" required /><br />
        <textarea id="description" placeholder="descript" required></textarea
        ><br />
        <textarea id="content" placeholder="content" required></textarea><br />
        <button type="submit">Send Post</button>
      </form>

      <div id="posts-container" class="posts-container">
        <!-- Posts View -->
      </div>
    </div>

    <script src="{% static 'blog/js/blog.js' %}"></script>
  </body>
</html>
